<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-3">
        <center><img src="..\modules\core\client\img\thinking_2.jpg" alt="" height="180"  width="180" /></center>
      </div>
      <div class="col-md-6">
        <center><h1 class="text-center" style="font-family: Cooper Std, Georgia, serif;font-size-adjust:100%;color: #800000"><strong>What To Do</strong></h1></center>
        <center><img src="..\modules\core\client\img\book.png" alt="" height="85"  width="50%" /></center>
      </div>
      <div class="col-md-3">
        <center><img src="..\modules\core\client\img\thinking_1.jpg" alt="" height="180"  width="180" /></center>
      </div>
    </div>
  </div>

  <div class="middle">
    <div class="row"> 
      <div class="col-md-4">
        <center><h3>Benifits</h3></center>
        <br>
        <ul style="justify-content: center;">
          <li>Get the present status from dashboard</li>
          <li>special task prepare you for special</li>
          <li>See the previous tasks done from you</li>
          <li>Get Admin Support</li>
        </ul>
      </div>
      <div class="col-md-4">
        <center><h3>App Features</h3></center>
        <br>
        <ul style="justify-content: center;">
          <li>See the statistics and Status of the Tasks</li>
          <li>Get Special Task Automatically</li>
          <li>Finish the task and Delete</li>
          <li>Prepare the List of Task</li>         
          <li>Update the List</li>
        </ul>
      </div>
      <div class="col-md-4">
        <center><h3>About Us</h3></center>
        <br>
        <ul style="justify-content: center;">
          <li>Company who believes in - Power of Change</li>
          <li>For more click <a href="" target="_blank">here</a></li>
        </ul>
      </div>
    </div>
  </div>

    <footer class="footer">
            <div class="container">
                <p class="text-muted text-center">
                    <a href="http://commutatus.com/" target="_blank"><img src="..\modules\core\client\img\brand\logo.png" height="26" alt="Whattodo commutatus"/></a>
        <script src="..\public\lib\jquery\dist\jquery.min.js"></script>
                </p>
                
                <p class="text-muted text-center">
                    <small>&copy; 2017 Commutatus - Power of Change</small>
                </p>
               
            </div>
        </footer>
  
</section>
